h1{
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
input{
    padding: 1rem 1.8rem;
    margin-right: 1rem;
    border-radius: 8px;
    width: 50%;
    max-width: 400px;
}
input::placeholder{
    padding-left: 1.5rem;
    font-size: 1rem;
}
 #search-button{
    border-radius: 8px;
    padding: .8rem 1.8rem;
    font-size: 1.2rem;
    background-color: #138065;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}
.search-result img{
    width :100%;
   object-fit: cover;
   transition: opacity .2s ease-in-out;
}
.search-result{
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
      overflow: hidden;
    margin-bottom: 1.5rem;
    height: 100%;
}
.search-result:hover img{
 opacity: .8;
 width: 100%;
 height: 100%;
}
.search-result a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    text-transform: capitalize;
    color: #333;
}
#show-more-button{
    text-align: center;
    background-color: #008cba;
    padding: 8px 1.2rem;
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
    margin: 2rem auto;
    display: none;
}
@media screen and (max-width:768px){
    .search-result{
        width:45%;
    }
}
@media screen and (max-width:475px){
    .search-result{
        width: 100%;
    }
    .search-results{
        padding: 1rem;
    }
}